In [6]:
l = [[i**j for i in range (1,11)] for j in range (1,11)]
l

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [1, 4, 9, 16, 25, 36, 49, 64, 81, 100],
 [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000],
 [1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000],
 [1, 32, 243, 1024, 3125, 7776, 16807, 32768, 59049, 100000],
 [1, 64, 729, 4096, 15625, 46656, 117649, 262144, 531441, 1000000],
 [1, 128, 2187, 16384, 78125, 279936, 823543, 2097152, 4782969, 10000000],
 [1,
  256,
  6561,
  65536,
  390625,
  1679616,
  5764801,
  16777216,
  43046721,
  100000000],
 [1,
  512,
  19683,
  262144,
  1953125,
  10077696,
  40353607,
  134217728,
  387420489,
  1000000000],
 [1,
  1024,
  59049,
  1048576,
  9765625,
  60466176,
  282475249,
  1073741824,
  3486784401,
  10000000000]]

In [7]:
l = ["x" if i%2 == 0 else "o" for i in range(10)]
l

['x', 'o', 'x', 'o', 'x', 'o', 'x', 'o', 'x', 'o']

In [8]:
"x".join("."* i for i in range(4))

'x.x..x...'

In [9]:
k = (i**2 for i in range(10))
type(k)

generator

In [10]:
for i in k:
    print(i)

0
1
4
9
16
25
36
49
64
81

In [12]:
i = 0
n = 30
x = 0
while (x := 2*x + 1) < n:
    print(x)
    i += 1
#operator przypisania w locie

1
3
7
15

In [13]:
d = {"a":1, "b":2, "c":3}
d["b"]

2

In [14]:
d.get("c")

3

In [15]:
#get lepszy, bo zwraca obiekt typu none i nie trzeba obsługiwać błędu

In [16]:
d.get("d", 'nie ma')

'nie ma'

In [17]:
d1 = dict((("e", 4), ("f", 5)))
d1

{'e': 4, 'f': 5}

In [18]:
d["a"] = 10

In [19]:
d.update(d1)
#jak się klucze nie pokrywają, to dokładamy do d wartości d1

In [20]:
d

{'a': 10, 'b': 2, 'c': 3, 'e': 4, 'f': 5}

In [21]:
d["d"] = 7
d

{'a': 10, 'b': 2, 'c': 3, 'e': 4, 'f': 5, 'd': 7}

In [22]:
d |= d1

In [23]:
d

{'a': 10, 'b': 2, 'c': 3, 'e': 4, 'f': 5, 'd': 7}

In [24]:
d.keys()
#widok kluczy - nie możemy stamtąd nic brać, ale możemy sprawdzić czy coś tam jest

dict_keys(['a', 'b', 'c', 'e', 'f', 'd'])

In [25]:
list(d.keys())

['a', 'b', 'c', 'e', 'f', 'd']

In [26]:
list(d.values())
#zwraca listę wartości

[10, 2, 3, 4, 5, 7]

In [27]:
del d["a"]
#usuwamy element o danym kluczu

In [28]:
d

{'b': 2, 'c': 3, 'e': 4, 'f': 5, 'd': 7}

In [29]:
d.pop("b")
#del nic nie zwraca, ale pop usunie i zwróci wartość pod b

2

In [34]:
s = "abcdefghijklmnopqrstuvwxyz"
text = "Ala ma kota, psa, chomika i rybki.".lower()
d = {}
for i in text:
    d[i] = text.count(i)

d

{'A': 1,
 'l': 1,
 'a': 5,
 ' ': 6,
 'm': 2,
 'k': 3,
 'o': 2,
 't': 1,
 ',': 2,
 'p': 1,
 's': 1,
 'c': 1,
 'h': 1,
 'i': 3,
 'r': 1,
 'y': 1,
 'b': 1,
 '.': 1}

In [35]:
d = dict([[i, text.count(i) for i in text])
d

SyntaxError: did you forget parentheses around the comprehension target? (3040348418.py, line 1)

In [36]:
d

{'A': 1,
 'l': 1,
 'a': 5,
 ' ': 6,
 'm': 2,
 'k': 3,
 'o': 2,
 't': 1,
 ',': 2,
 'p': 1,
 's': 1,
 'c': 1,
 'h': 1,
 'i': 3,
 'r': 1,
 'y': 1,
 'b': 1,
 '.': 1}

In [37]:
d = {}

for i in text:
    if i not in d.keys():
        d[i] = text.count(i)

In [38]:
d

{'A': 1,
 'l': 1,
 'a': 5,
 ' ': 6,
 'm': 2,
 'k': 3,
 'o': 2,
 't': 1,
 ',': 2,
 'p': 1,
 's': 1,
 'c': 1,
 'h': 1,
 'i': 3,
 'r': 1,
 'y': 1,
 'b': 1,
 '.': 1}

In [39]:
s = "abcdefghijklmnopqrstuvwxyz"
text = "Ala ma kota, psa, chomika i rybki.".lower()
d = {}
for l in s:
    if l in text:
        d[l] = text.count(l)
d

{'a': 6,
 'b': 1,
 'c': 1,
 'h': 1,
 'i': 3,
 'k': 3,
 'l': 1,
 'm': 2,
 'o': 2,
 'p': 1,
 'r': 1,
 's': 1,
 't': 1,
 'y': 1}

In [40]:
s = "abcdefghijklmnopqrstuvwxyz"
text = "Ala ma kota, psa, chomika i rybki.".lower()
d = dict([[i, text.count(i)] for i in s if i in text])
d

{'a': 6,
 'b': 1,
 'c': 1,
 'h': 1,
 'i': 3,
 'k': 3,
 'l': 1,
 'm': 2,
 'o': 2,
 'p': 1,
 'r': 1,
 's': 1,
 't': 1,
 'y': 1}

In [42]:
print("POZDRAWIAM WIDZOWIE")

POZDRAWIAM WIDZOWIE

In [43]:
dna1 = "ACCTAGCTTA"
#AT CG TA GC

d = {'A':'T', 'C':'G', 'T':'A', 'G':'C'}
d

{'A': 'T', 'C': 'G', 'T': 'A', 'G': 'C'}

In [44]:
d.keys()
d

{'A': 'T', 'C': 'G', 'T': 'A', 'G': 'C'}

In [45]:
d.keys()

dict_keys(['A', 'C', 'T', 'G'])

In [51]:
dna2 = "".join(d.get(i) for i in dna1)
print(dna2)

TGGATCGAAT

In [52]:
dna1 = "ACCAGGATGA"
dna2 = "TGGACCAGGT"

s = ({"A", "T"}, {"G", "C"})
print(dna1)

for i, j in zip(dna1, dna2):
    if {i, j} in s:
        print("|", end="")
    else:
        print(".", end="")

print("\n" + dna2)

ACCAGGATGA
|||.||...|
TGGACCAGGT

In [54]:
dna1 = "ACCAGGATGA"
dna2 = "TGGACCAGGT"

s = ({"A", "T"}, {"G", "C"})
print(dna1)

print("".join("|" if {i, j} in s else "." for i, j in zip(dna1, dna2)))

print(dna2)

ACCAGGATGA
|||.||...|
TGGACCAGGT

In [55]:
dna1 = "ACCAGGATGA"
dna2 = "TGGACCAGGT"

s = ({"A", "T"}, {"G", "C"})
print(dna1)

print("".join("|" * ({i, j} in s) + "." * ({i, j} not in s) for i, j in zip(dna1, dna2)))

print(dna2)

ACCAGGATGA
|||.||...|
TGGACCAGGT

In [56]:
print("W domu poczytać cellular automata - przypadek jednowymiarowy - elementary cellular automata - obrazek")

W domu poczytać cellular automata - przypadek jednowymiarowy - elementary cellular automata - obrazek